body {
    /* background: #eee */
}

.content:not(.custom),
.page-edit,
.page-nav {
    max-width: 1000px;
}

div[class*="language-"] {
    max-height: 35em;
    overflow: auto;
}

.home .hero .description {
    max-width: 40rem;
}

.custom-border img {
    border: 0.3em solid #ff6600;
    border-radius: 1em;
}

audio,
video {
    width: 100%;
}